.formularios-banco{
    padding: 15px;
}

.duas-primeiras{
    width: 100%;
}

.logo-banco{
    width: 100%;
    text-align: center;
}

.logo-banco img{
    text-align: center;
    height: 150px;
}

.saldo-inicio{
    width: 500px;
    border: 1px solid #ccc;
    background-color: #008cff;
    border-radius: 15px;
    padding: 5px 9px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.form-transferir, .form-extrato{
    float: left;
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #40afb9;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.form-extrato{
    height: 422px;
    margin-left: 10px;
    display: grid;
    overflow-y: auto;
}

.form-extrato tr{
    border: 3px;
}

.duas-primeiras::after{
    content: "";
    display: table;
    clear: both;
}

.form-transferir h1, .form-extrato h1{
    font-size: 17px;
    text-align: center;
    padding: 10px;
}

.form-transferir label{
    font-size: 14px;
    text-align: center;
    padding: 3px;
}

.form-transferir input[type="number"]{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px; 
}

.form-transferir input[type="submit"]{
    border-radius: 15px;
    padding: 10px;
    background-color: #39bf27;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}

.form-transferir input[type="submit"]:hover{
    background-color: #0f6b03;
}

.form-transferir textarea{
    width: 300px;
    height: 100px;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px; 
    resize: none; 
}

.form-extrato{
    width: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}
#mensagem{
    width: 200px;
    height: 50px;
    color: white;
    background-color: #ff5100;
    border-radius: 12px;
    padding: 5px;
}

.alterar-imposto{
    width: 250px;
    height: 200px;
    background-color: #0f6b03;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}

.alterar-imposto p{
    font-size: 10px;
    font-weight: bold;
}

.alterar-imposto input[type="number"],
.alterar-imposto input[type="submit"],
.alterar-imposto label{
    padding: 2px;
    margin: 5px;
}

.alterar-imposto input[type="number"],
.alterar-imposto input[type="submit"]{
    width: 75px;
    border-radius: 5px;
}

.alterar-imposto input[type="submit"]{
    background-color: rgb(237, 240, 101)
}
.alterar-imposto input[type="submit"]:hover{
    background-color: rgb(218, 45, 45);
}