/*estilização da pagina perfil */
.conteudo{
    display: flex;
}

.alterar-form {
    margin-left: 5px;
	margin-top: 15px;
    width: 500px;
    border: 2px #ccc solid;
    float: left;
}

.container-medalhas{
    margin-left: 5px;
    float: right;
}

.form-alterar{
    text-align: center;
}

span h3,h5{
	display: block;
    text-align: center;
    font-weight: bold;
}

.alterar-form input[type="text"], 
.alterar-form input[type="password"],
.alterar-form input[type="email"] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.alterar-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
}

.alterar-form input[type="submit"]:hover {
    opacity: 0.8;
}

.corpo{
    margin-left: 350px;
}

.formularios{
    max-width: 560px;
}

.titulo-quadro{
    text-align: center;
    width: 500px;
}

.titulo-quadro h1{
    font-size: 24px;
    margin-top: 16px;
    border: 2px #ccc solid;
}

.medalhas-perfil-container{
    padding: 5px;
    border: 2px #ccc solid;
    margin-top: -10px;
    width: 500px;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    grid-gap: 5px;
}

.medalhas-perfil-container h1{
    font-size: 16px;
}

.medalha-interno{
    margin-bottom: 5px;
    padding: 3px;
}

.medalha-interno h2{
    font-size: 12px;
}

.corpo-medalhas-perfil{
    margin: auto;
    padding: 5px;
    width: 150px;
    height: 170px;
    text-align: center;
    border-radius: 15px;
}

/* exibir perfil */

.exibir-perfil-medalhas {
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin-left: 114px;
}

.exibir-perfil-medalhas h5{
    padding: 7px;
    margin-bottom: 10px;

}
/* medalhas */
.tabcontent h4{
    font-size: 16px;
}

.medalhas-plenario-geral{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    width: 550px;
}

.tabela-medalhas{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    width: 550px;
}

.corpo-medalhas{
    border: 1px solid #ccc;
    margin: auto;
    padding: 5px;
    width: 235px;
    height: 270px;
    text-align: center;
}

.corpo-medalhas h4{
    font-size: 18px;
    padding: 7px;
}

.corpo-medalhas img{
    width: 170px;
    height: 170px;
    border:3px solid #dc3545;
    border-radius: 7px;
}

.corpo-medalhas h2{
    margin-top: 5px;
    font-weight: normal;
    font-size: 13px;
}

.medalhas-plenario{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 17px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #cef1e1;
    overflow-y: auto;
}

.medalhas-plenario h2{
    font-size: 20px;
}

.medalhas-plenario select{
    max-width: 250px;
}

/* pagina de ajuda das medalhas */

.medalhas-ajuda{
    height: 100%;
    display: inline-block;
}