*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	line-height:1;
    background-color: #000000;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/*estilização da página de início*/

.brasao{
    height: 450px;
    margin-top: 25px;
}

.brasao img{
    height: 450px;
    margin-top: 25px;
}

.brasao-gabinete{
    background-color: #505352;
}

.brasao-gabinete img{
    height: 100px;
    margin-left: 40%;
}

.brasao-const{
    height: 100%;
}

.brasao-const h1{
    text-align: center;
}

.brasao-const img{
    text-align: center;
    height: 100px;
    margin-left: 50%;
}

.presidencia{
    width: 450px;
    display: flex;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 28px;
    margin-left: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*fim da estilização da página de início*/

.login-rgb{
    width: 100%;
    height: 100%;
}

.login{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container2{
    width: 450px;
    background-color: white;
    margin-top: 150px;
    text-align: center;
    padding: 22px;
    border-radius: 9px;
    margin-left: 40%;
}

.row{
    margin-top: 50px;
}

.logo-init{
    text-align: center;
    height: 100%;
}

.copy{
    font-size: 10px;
    text-decoration: none;
}

section > span{
	font-size: 30px;
	cursor: pointer;
}

.painel-lateral{
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: url("../img/pergaminho.png");

	overflow: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.painel-lateral a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: rgb(255, 255, 255);
	display: block;
	transition: 0.3s;

}

.painel-lateral a:hover{
	color: yellow;
}

#principal{
	padding: 16px;
	transition: margin-left 0.5s;
}

@media screen and(max-height: 450px){
	.painel-lateral{padding-top: 15px;}
	.painel-lateral a{font-size: 18;}
}

.botao-sair{
	color: rgb(255, 255, 255);
	width: 250px;
	text-align: center;
	margin-left: 5%;
	font-size: 20px;
	font-weight: bold;
}

/*estilização da pagina perfil */
.alterar-form {
	margin-top: 15px;
    width: 500px;
    border: 2px #ccc solid;
}

.form-alterar{
    text-align: center;
}

span h3,h5{
	display: block;
    text-align: center;
    font-weight: bold;
}

.alterar-form input[type="text"], 
.alterar-form input[type="password"],
.alterar-form input[type="email"] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.alterar-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
}

.alterar-form input[type="submit"]:hover {
    opacity: 0.8;
}

.corpo{
    margin-left: 350px;
}

.formularios{
    max-width: 560px;
}

.titulo-quadro{
    text-align: center;
    width: 500px;
}

.titulo-quadro h1{
    font-size: 24px;
    margin-top: 16px;
    border: 2px #ccc solid;
}

.medalhas-perfil-container{
    padding: 5px;
    border: 2px #ccc solid;
    margin-top: -10px;
    width: 500px;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    grid-gap: 5px;
}

.medalhas-perfil-container h1{
    font-size: 16px;
}

.medalha-interno{
    margin-bottom: 5px;
    padding: 3px;
}

.medalha-interno h2{
    font-size: 12px;
}

.corpo-medalhas-perfil{
    margin: auto;
    padding: 5px;
    width: 150px;
    height: 170px;
    text-align: center;
    border-radius: 15px;
}




/* fim da estilização da pagina perfil */

.container{
    margin-top: 15px;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: antiquewhite;
    max-width: 350px;
    min-width: 350px;
}

.container h1{
    font-size: 14px;
}

.promulgacao{
    max-width: 100%;
    max-height: 260px;
    overflow-y: auto;
}

/* estilização gabinete */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 550px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}

.alterar-presidente{
    display: table-caption;
}

.form-control{
    width: 250px;
}

.btn-success2{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-danger2{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success3{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-danger3{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.decretos{
    max-width: 100%;
    max-height: 260px;
    overflow-y: auto;
    background-color: white;
}

/* medalhas */
.tabcontent h4{
    font-size: 16px;
}

.medalhas-plenario-geral{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    width: 550px;
}

.tabela-medalhas{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    width: 550px;
}

.corpo-medalhas{
    border: 1px solid #ccc;
    margin: auto;
    padding: 5px;
    width: 250px;
    height: 270px;
    text-align: center;
}

.corpo-medalhas h4{
    font-size: 18px;
    padding: 7px;
}

.corpo-medalhas img{
    width: 170px;
    height: 170px;
    border:3px solid #dc3545;
    border-radius: 7px;
}

.corpo-medalhas h2{
    margin-top: 5px;
    font-weight: normal;
    font-size: 13px;
}

.medalhas-plenario{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 17px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #cef1e1;
    overflow-y: auto;
}

.medalhas-plenario h2{
    font-size: 20px;
}

.medalhas-plenario select{
    max-width: 250px;
}

/* exibir perfil */

.exibir-perfil-medalhas {
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin-left: 114px;
}

.exibir-perfil-medalhas h5{
    padding: 7px;
    margin-bottom: 10px;

}