*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	line-height:1;
    background-color: #000000;
}

.painel-lateral{
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: url("../img/pergaminho.png");

	overflow: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.painel-lateral a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: rgb(255, 255, 255);
	display: block;
	transition: 0.3s;

}

.painel-lateral a:hover{
	color: yellow;
}

#principal{
	padding: 16px;
	transition: margin-left 0.5s;
}

@media screen and(max-height: 450px){
	.painel-lateral{padding-top: 15px;}
	.painel-lateral a{font-size: 18;}
}

.botao-sair{
	color: rgb(255, 255, 255);
	width: 250px;
	text-align: center;
	margin-left: 5%;
	font-size: 20px;
	font-weight: bold;
}



.container{
    margin-top: 15px;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: antiquewhite;
    max-width: 350px;
    min-width: 350px;
}

.container h1{
    font-size: 14px;
}

.promulgacao{
    max-width: 100%;
    max-height: 260px;
    overflow-y: auto;
}

/* estilização gabinete */

.tab {
    overflow: hidden;
    border: 1px solid #591d1d;
    background-color: #7dbd8b;
    width: 550px;
    margin-top: 20px;
    border-radius: 5px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #6bcc10;
}

.tab button.active {
    background-color: #6bcc10;
}



.tabcontent {
    display: none;
    padding: 6px 12px;
}

.alterar-presidente{
    display: table-caption;
}

.form-control{
    width: 250px;
}




/* estilização da loja */
.display-grid{
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    grid-gap: 5px;
}

.form-gabinete-geral-loja{
    box-sizing: border-box;
    margin: 2px solid #ccc;
    width: 510px;
    height: auto;
    background-color: darkseagreen;
    padding: 5px;
    border-radius: 10px;
}

.form-gabinete-geral-loja input{
    padding: 5px;
}

.form-gabinete-geral-loja input[type="text"],
.form-gabinete-geral-loja input[type="number"],
.form-gabinete-geral-loja input[type="submit"]
{
    border-radius: 5px;
}

.form-gabinete-geral-loja input[type="submit"]:hover{
    background-color: #198754;
}

.gabinete-geral-loja{
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    grid-gap: 5px;
}

#quantidade{
    margin-left: 5px;
    border-radius: 5px;
    padding: 2px;
}

#valor_total{
    border: none;
    width: 150px;
    text-align: center;
}

.botao-comprar{
    color: white;
    background-color: #197487;
    text-align: center;
    width: 150px;
    padding: 10px;
    margin-top: 8px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px #ccc;
}

.botao-comprar:hover{
    background-color: #8decff;
}

.item {
    box-sizing: border-box;
    width: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.item:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.item h2 {
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    margin-left: 30%;
}

.item p {
    margin: 0;
    color: #666;
}

/* estilização do banco */
